ul#nav {
    display:block;
    float:left;
    font-family:Trebuchet MS,sans-serif;
    font-size:0;
	z-index:3;
	margin-left:20px;
}
ul#nav li a{
	z-index:3;
}

ul#nav,ul#nav ul {
    list-style:none;
    margin:0;
	margin-top:-4px
}

ul#nav .subs {
    background-color:#fff;
    border:2px solid #A4884A;
    display:none;
    float:left;
    left:0;
    padding: 3px 6px 6px;
    position:absolute;
    top:100%;
    width:220px;
	z-index:1;
	border-top:none;
    border-radius:0 3px 3px 3px;
    -moz-border-radius:0 3px 3px 3px;
    -webkit-border-radius:0 3px 3px 3px;
}
ul#nav .subs-right {
    background-color:#fff;
    border:2px solid #A4884A;
    display:none;
    float:left;
    right:0;
    padding:3px 6px 6px;
    position:absolute;
    top:100%;
    width:220px;
	z-index:1;
	border-top:none;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    -webkit-border-radius:3px 0 3px 3px;
}
ul#nav li:hover>* {
    display:block;
}
ul#nav li:hover {
    position:relative;
}
ul#nav ul .subs {
    left:100%;
    position:absolute;
    top:0;
}
ul#nav ul {
    padding:0 5px 5px;
}
ul#nav .col {
    float:left;
    width:100%;
}
ul#nav li {
    display:block;
    float:left;
    font-size:0;
    white-space:nowrap;
}

ul#nav>li,ul#nav li {
    margin:0 0 0 5px;
}
ul#nav ul>li {
    margin:5px 0 0;
}
ul#nav a:active,ul#nav a:focus {
    outline-style:none;
}
ul#nav a {
    border-style:none;
    border-width:0;
    color:#181818;
    cursor:pointer;
    display:block;
    font-size:13px;
    font-weight:bold;
    padding:8px 18px;
    text-align:left;
    text-decoration:none;
    text-shadow:#fff 0 1px 1px;
    vertical-align:middle;
}
ul#nav ul li {
    float:none;
    margin:6px 0 0;
}
ul#nav ul a {
    background-color:#fff;
    border-color:#efefef;
    border-style:solid;
    border-width:0 0 1px;
	
	
    font-size:11px;
    padding:4px;
    text-align:left;
    text-decoration:none;
    text-shadow:#fff 0 0 0;
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
}
ul#nav li:hover>a {
    border-style:none;
    color:#181818;
    font-size:13px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:#fff 0 1px 1px;
}
ul#nav img {
    border:none;
    margin-right:8px;
    vertical-align:middle;
}
ul#nav span {
    background-position:right center;
    background-repeat:no-repeat;
    display:block;
    overflow:visible;
    padding-right:0;
}
ul#nav ul span {
    background-image:url("../images/arrow.png");
    padding-right:20px;
}
ul#nav ul li:hover>a {
    border-style:solid;
    color:#444;
    font-size:11px;
    text-decoration:none;
    text-shadow:#fff 0 0 0;
	border-bottom:1px solid #000;
}
ul#nav > li >a {
    background-color:transpa;
    height:25px;
    line-height:25px;
    background-color:#A4884A;
  border-radius: 1em 1em 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius:  3px 3px 0 0;
  border-radius:  3px 3px 0 0;
}
ul#nav > li:hover > a {
    border:2px solid #A4884A;
    background-color:#fff;
	border-bottom:none;
    line-height:25px;
	width:143px;
	height:25px;
}
ul#nav li .drop{
    width:147px;
	text-align:center;
	padding:5px;
	color:fff;
	z-index:9999;
	color:#fff;
    font-size:13px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:#181818 0 1px 1px;
	
}